.hidden {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.left-column,
.right-column {
    width: 30%;
}

.middle-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #f9f9f9;
}

label {
    font-weight: bold;
}

select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Styling for Prediction Result */
#prediction-result {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    text-align: center;
}

#prediction-result strong {
    font-weight: bold;
}

#batting_team_scorers,
#bowling_team_scorers,
#batting_team_ratios,
#bowling_team_ratios {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h3 {
    margin-top: 0;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #007BFF;
    color: white;
}
